@{
    ViewData["Title"] = "Home Page";
}

@model IQueryable<Bowler>

<div class="d-flex justify-content-between">
    <div>
        @if (ViewBag.selected == "" || ViewBag.selected == null)
        {
            <h1>All Bowlers</h1>
        }
        else
        {
            <h1>The @ViewBag.selected</h1>
        }

    </div>
    
    <div>
        <a class="btn btn-success text-white" asp-controller="Home" asp-action="AddBowler">Create New</a>
    </div>
</div>
<div>
    <div class="d-flex flex-wrap justify-content-center">
        <div>
            <a asp-controller="Home" asp-action="Index" asp-route-team=""
               class="nav-link @(ViewBag.selected == null || ViewBag.selected == "" ? "font-weight-bold" : "")">
                All
            </a>
        </div>
        @foreach (Team team in ViewBag.teams)
        {
            <a asp-controller="Home" asp-action="Index" asp-route-team="@team.TeamName"
               class="nav-link  @(ViewBag.selected == team.TeamName ? "font-weight-bold" : "")">
                @team.TeamName
            </a>
        }
    </div>
</div>

<div class="d-flex flex-wrap justify-content-center">
    @foreach (Bowler bowler in Model)
    {

        <div class="card text-center m-1" style="width: 18rem;">
            <div class="card-body">
                @if (bowler.BowlerMiddleInit == null || bowler.BowlerMiddleInit == "")
                {
                    <h5 class="card-title">@bowler.BowlerFirstName @bowler.BowlerLastName</h5> }
                else
                {
                    <h5 class="card-title">@bowler.BowlerFirstName @bowler.BowlerMiddleInit. @bowler.BowlerLastName</h5>
                }

                <h6 class="card-subtitle mb-2 text-muted">@bowler.BowlerPhoneNumber</h6>
                <p class="card-text">@bowler.BowlerAddress,<br /> @bowler.BowlerCity, @bowler.BowlerState @bowler.BowlerZip</p>
                <a asp-controller="Home" asp-action="Edit" asp-route-bowlerid="@bowler.BowlerID" class="btn btn-sm btn-warning">Edit</a>
                <a asp-controller="Home" asp-action="Delete" asp-route-bowlerid="@bowler.BowlerID" class="btn btn-sm btn-danger">Delete</a>
            </div>
        </div>
    }
</div>
